
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #0492c2;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin-top: 100px ;
    color: #fff;
    margin-bottom: 20px;
}
 .input-wrap{
    margin-bottom: 50px;
 }

section{
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

section input{
    outline: none;
    padding: 5px 2px;
    width: 250px;
    height: 40px;
    border: none;
    border-bottom:1px solid #747171;
}
section button{
    color: #fff;
    background-color: #0492c2;
    border: none;
    padding: 10px 25px;
    height: 40px;
    font-size: 12px;
    cursor: pointer;
    border-top-right-radius : 5px;
    border-bottom-right-radius: 5px ;
    transform: translateX(-5px);
    transition: border 0.5s ease-in-out;
}

section button:hover{
    background-color: #0b78b8;
    
}


li{
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error-active{
    display: block;
    color: red;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 0;
}

#reset{
    transform: translateX(120px);
}